body{
    background: url('/images/12.jpg') center top no-repeat;
    background-size:100%;
}
.content{
    margin-top: 70px;
}
.pagination{
    margin: 0 0;
}
.fa{
    margin-left: 10px;
}

.list{
    width:5%;
    height:5%;
    margin-right: 20px;
}